.header__menu {
  display: none;
}

@media screen and (max-width: 750px) {
  .header__menu {
    display: block;
    background: transparent url(../../../images/hamburger-menu.svg) center no-repeat;
    background-size: 24px 21px;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 28px;
    bottom: 24px;
  }

  .header__menu:hover {
    opacity: 0.6;
  }
}