.button_type_close {
    position: absolute;
    width: 56px;
    height: 56px;
    top: -48px;
    right: -48px;
    background-image: url(../../../../images/close.svg);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
}

.button_type_close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 540px) {
    .button_type_close {
        width: 36px;
        height: 36px;
        top: -50px;
        right: 0px;
    }
}