.profile__avatar {
    object-fit: cover;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: relative;
}

.profile__avatar:hover {
    background-color: #000;
    opacity: 0.8;
}