.popup__input {
    width: 100%;
    font-family: 'Inter', Arial, sans-serif;
    border: none;
    padding: 0 0 8px;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__input::-webkit-input-placeholder {
    color: #C4C4C4;
   } 
   
.popup__input::-moz-placeholder {
    color: #C4C4C4;
}

@media screen and (max-width: 540px) {
    .popup__input {
        padding-bottom: 13px;
    }
}