.popup__input-error {
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    display: block;
    margin-top: 5px;
    min-height: 30px;
    pointer-events: none;
    /*visibility: hidden;*/
  }