.button_type_edit-profile {
    background-image: url(../../../../images/edit-button.svg);
    background-color: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-left: 18px;
    -webkit-transform: translateY(-9px);
        -ms-transform: translateY(-9px);
            transform: translateY(-9px);
}

.button_type_edit-profile:hover {
    opacity: 0.6;
}

@media screen and (max-width: 750px) {
    .button_type_edit-profile {
        width: 18px;
        height: 18px;
        margin-left: 10px;
        -webkit-transform: translateY(-7px);
            -ms-transform: translateY(-7px);
                transform: translateY(-7px);
    }
}