.page__header {
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 960px){
    .page__header {
        padding-right: 9.4%;
        padding-left: 9.4%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
}