.button_type_delete-card {
    position: absolute;
    width: 18px;
    height: 19.3px;
    top: 18px;
    right: 16px;
    background-image: url(../../../../images/delete-button.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
}

.button_type_delete-card:hover {
    opacity: 0.6;
}