@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__container/page__container.css);
@import url(./blocks/page/__content/page__content.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__button/header__button.css);
@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/_menu-open/header_menu-open.css);
@import url(./blocks/header/_page-main/header_page-main.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__name-section/profile__name-section.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/element/element.css);
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__likes/element__likes.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_type/_view/popup_type_view.css);
@import url(./blocks/popup/_type/_delete/popup_type_delete.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_padding-bottom/_min/popup__title_padding-bottom_min.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/page/__footer/page__footer.css);
@import url(./blocks/page/__header/page__header.css);
@import url(./blocks/button/button.css);
@import url(./blocks/button/_type/_close/button_type_close.css);
@import url(./blocks/button/_type/_add-card/button_type_add-card.css);
@import url(./blocks/button/_type/_edit-profile/button_type_edit-profile.css);
@import url(./blocks/button/_type/_like/button_type_like.css);
@import url(./blocks/button/_type/_delete-card/button_type_delete-card.css);
@import url(./blocks/button/_type/_delete-card/_disable/button_type_delete-card_disable.css);
@import url(./blocks/button/_type/_like/_active/button_type_like_active.css);
@import url(./blocks/button/_type/_edit-avatar/button_type_edit-avatar.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__view/popup__view.css);
@import url(./blocks/popup/__image-title/popup__image-title.css);
@import url(./blocks/popup/__input/_type/_error/popup__input_type_error.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_visible/popup__input-error_visible.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__save-button/_disabled/popup__save-button_disabled.css);
@import url(./blocks/popup/__tooltip-icon/popup__tooltip-icon.css);
@import url(./blocks/popup/__tooltip-icon/_type/_fail/popup__tooltip-icon_type_fail.css);
@import url(./blocks/popup/__tooltip-icon/_type/_success/popup__tooltip-icon_type_success.css);
@import url(./blocks/popup/__title/_align_center/popup__title_align_center.css);
@import url(./blocks/register/register.css);
@import url(./blocks/page/__register/page__register.css);
@import url(./blocks/register/__input/register__input.css);
@import url(./blocks/register/__title/register__title.css);
@import url(./blocks/register/__login-link/register__login-link.css);
@import url(./blocks/register/__signin/register__signin.css);
@import url(./blocks/register/__button/register__button.css);
@import url(./blocks/spinner/Spinner.css);