.header__container {
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 260px;
  padding: 2px 0 0;
}

@media screen and (max-width: 750px) {
    .header__container {
      /*display: none; */
      font-size: 14px;
      line-height: 17px;
      padding: 5px 0 0;
    }
  }
